# Advanced Dataframes Exercises
This notebook includes exercises part I, part II and part III

<hr style="border:2px solid gray">

# Advanced Dataframes Exercises: Part I

Create a notebook or python script ```named advanced_dataframes``` to do your work in for these exercises.

1. Run ```python -m pip install pymysql``` from your terminal to install the mysql client (any folder is fine)

2. cd into your exercises folder for this module and run echo ```env.py >> .gitignore```

3. Create a function named ```get_db_url```. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

4. Use your function to obtain a connection to the ```employees``` database.

5. Once you have successfully run a query:
    - a. Intentionally make a typo in the database url. What kind of error message do you see?
    - b. Intentionally make an error in your SQL query. What does the error message look like?

6. Read the ```employees``` and ```titles``` tables into two separate DataFrames.

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

8. Display the summary statistics for each DataFrame.

9. How many unique titles are in the ```titles``` DataFrame?

10. What is the oldest date in the ```to_date``` column?

11. What is the most recent date in the ```to_date``` column?

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

In [32]:
from env import host, user, password
import pandas as pd
import numpy as np

<b>3. Create a function named ```get_db_url```</b>

It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [2]:
def get_db_url(database):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

<hr style="border:0.5px solid grey">

<b>4. Use your function to obtain a connection to the ```employees``` database.

In [3]:
#sql query we need
query = '''
SELECT *
FROM employees
'''

In [4]:
#acquire dataframe from sql
df = pd.read_sql(query, get_db_url('employees'))

In [5]:
#take a look
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [6]:
#what columns, dtypes and nulls do we have
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

<hr style="border:0.5px solid grey">

<b>5. Once you have successfully run a query:</b>
   - a. Intentionally make a typo in the database url. What kind of error message do you see?
   - b. Intentionally make an error in your SQL query. What does the error message look like?

<b>a. Intentionally make a typo in the database url. What kind of error message do you see?</b>

In [7]:
#error in db url
df = pd.read_sql(query, get_db_url('cars'))

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'cars'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

<b>b. Intentionally make an error in your SQL query. What does the error message look like?

In [10]:
#error in query
error_query = '''
SELECT ?>
FROM employees
'''

In [11]:
error_df = pd.read_sql(error_query, get_db_url('employees'))

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '?>\nFROM employees' at line 1")
[SQL:
SELECT ?>
FROM employees
]
(Background on this error at: https://sqlalche.me/e/14/f405)

<hr style="border:0.5px solid grey">

<b>6. Read the ```employees``` and ```titles``` tables into two separate DataFrames.

In [12]:
#write query for employees table
employees = 'SELECT * FROM employees'

#write query for titles table
titles = 'SELECT * FROM titles'

In [13]:
#acquire the employees table from sql
employees_df = pd.read_sql(employees, get_db_url('employees'))

In [14]:
#take a look at the dataframe
employees_df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [15]:
#what columns, dtypes and nulls do we have
employees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [16]:
#acquire the titles table from sql
titles_df = pd.read_sql(titles, get_db_url('employees'))

In [17]:
#take a look at the dataframe
titles_df.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [18]:
#what columns, dtypes and nulls do we have
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

<hr style="border:0.5px solid grey">

<b>7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [19]:
#how many rows, columns are in employees
employees_df.shape

(300024, 6)

In [20]:
#how many rows, columns are in titles
titles_df.shape

(443308, 4)

<hr style="border:0.5px solid grey">

<b>8. Display the summary statistics for each DataFrame.

In [21]:
#descriptive stats for employees dataframe
employees_df.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [22]:
#descriptive stats for titles dataframe
titles_df.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

<hr style="border:0.5px solid grey">

<b>9. How many unique titles are in the ```titles``` DataFrame?

In [23]:
#remember what the table looks like
titles_df.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [24]:
#what is our count of each title
titles_df['title'].value_counts()

Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

In [25]:
#how many unique titles are there in titles dataframe
titles_df['title'].nunique()

7

In [26]:
#what are the unique titles in titles dataframe
titles_df['title'].unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

In [27]:
#sql query for this question
query = '''
SELECT COUNT(DISTINCT title) AS unique_title_count 
FROM titles
'''

<hr style="border:0.5px solid grey">

<b>10. What is the oldest date in the ```to_date``` column?

In [28]:
titles_df['to_date'].min()

datetime.date(1985, 3, 1)

In [29]:
#in sql the query would be:
query = '''
SELECT MIN(to_date) FROM titles
'''

<hr style="border:0.5px solid grey">

<b>11. What is the most recent date in the ```to_date``` column?

In [30]:
titles_df['to_date'].max()

datetime.date(9999, 1, 1)

In [31]:
#in sql the query would be:
query = '''
SELECT MAX(to_date) FROM titles
'''

<hr style="border:2px solid blue">
<hr style="border:2px solid blue">

# Advanced Dataframes Exercises: Part II

<hr style="border:2px solid blue">
<hr style="border:2px solid blue">

# Advanced Dataframes Exercises: Part III