# Pandas Series Exercises Part I:

<hr style="border:2px solid gray">

Use pandas to create a Series named fruits from the following list:

```["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]```

Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

2. Output only the index from fruits.

3. Output only the values from fruits.

4. Confirm the data type of the values in fruits.

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

In [1]:
import pandas as pd

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
#this will return my series to me in order
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

<b>1. Determine the number of elements in fruits.

In [5]:
#we can get the length (count each item)
len(fruits)

17

In [6]:
#or we can just do a '.size'
fruits.size

17

<hr style="border:0.5px solid grey">

<b>2. Output only the index from fruits.

In [7]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [8]:
#if you wanted a list of the actual indexes
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

<hr style="border:0.5px solid grey">

<b>3. Output only the values from fruits.

In [9]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

<hr style="border:0.5px solid grey">

<b>4. Confirm the data type of the values in fruits.

In [10]:
#datatypes are 'o' as in object (string) values
fruits.dtypes

dtype('O')

<hr style="border:0.5px solid grey">

<b>5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [11]:
#this will give you the docstrings!
fruits.head?

In [12]:
#first five values
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [50]:
#scott style
fruits[:5]

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [13]:
#last three values
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [4]:
#Jarred style
fruits[-3:]

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [14]:
#two random values
fruits.sample(2)

8     honeydew
3    pineapple
dtype: object

In [49]:
import numpy as np

#Victorie style
np.random.choice(fruits,2)

array(['blackberry', 'kiwi'], dtype=object)

<hr style="border:0.5px solid grey">

<b>6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [15]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

<hr style="border:0.5px solid grey">

<b>7. Run the code necessary to produce only the unique string values from fruits.

In [17]:
#scott style
set(fruits)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

In [18]:
#unique string values
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [19]:
#returns the unqiue value count
fruits.nunique()

13

In [23]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:0.5px solid grey">

<b>8. Determine how many times each unique string value occurs in fruits.

In [24]:
len(fruits.unique())

13

In [25]:
#returns each item with a count
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [26]:
#now let's assign them to a variable 
#so we can work with it later
order_fruits = fruits.value_counts()

In [27]:
order_fruits

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:0.5px solid grey">

<b>9. Determine the string value that occurs most frequently in fruits.

In [31]:
#use nlargest- returning the largest count value
order_fruits.nlargest(n=1)

kiwi    4
dtype: int64

In [30]:
order_fruits.head(1)

kiwi    4
dtype: int64

In [28]:
#Jon style
fruits.value_counts().index[0]

'kiwi'

In [32]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
#another way to accomplish this
#look for the first value in value counts (most freq)
fruits.value_counts().head(1)

In [33]:
#yet another way to do this!
#using idxmax
fruits.value_counts().idxmax()

'kiwi'

In [34]:
#if we did not want to create 
##a new variable (order_fruits)
###we can just 'chain' operators
fruits.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

<hr style="border:0.5px solid grey">

<b>10. Determine the string value that occurs least frequently in fruits.

In [35]:
#look at our fruits again
order_fruits

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [36]:
#returns very last item in the series
order_fruits.tail(1)

papaya    1
dtype: int64

In [37]:
#will return the first item that has the 'least' quantity
order_fruits.idxmin()

'strawberry'

In [38]:
#will also return the first item with the least
order_fruits.nsmallest(n=1)

strawberry    1
dtype: int64

In [43]:
#this will put the minimum value and alphabetically
fruits.min()

'blackberry'

In [45]:
#in order to get ALL the least occuring- keep= all
order_fruits.nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:0.5px solid grey">
<hr style="border:0.5px solid grey">