# Pandas Series Exercises:

<hr style="border:2px solid gray">

# Part I:

Use pandas to create a Series named fruits from the following list:

```["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]```

Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

2. Output only the index from fruits.

3. Output only the values from fruits.

4. Confirm the data type of the values in fruits.

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

In [1]:
import pandas as pd

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
#this will return my series to me in order
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

<b>1. Determine the number of elements in fruits.

In [4]:
#we can get the length (count each item)
len(fruits)

17

In [5]:
#or we can just do a '.size'
fruits.size

17

<hr style="border:0.5px solid grey">

<b>2. Output only the index from fruits.

In [6]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [7]:
#if you wanted a list of the actual indexes
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

<hr style="border:0.5px solid grey">

<b>3. Output only the values from fruits.

In [8]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

<hr style="border:0.5px solid grey">

<b>4. Confirm the data type of the values in fruits.

In [9]:
#datatypes are 'o' as in object (string) values
fruits.dtypes

dtype('O')

<hr style="border:0.5px solid grey">

<b>5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [10]:
#this will give you the docstrings!
fruits.head?

In [11]:
#first five values
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [12]:
#scott style
fruits[:5]

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [13]:
#last three values
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [14]:
#Jarred style
fruits[-3:]

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [15]:
#two random values
fruits.sample(2)

12       mango
8     honeydew
dtype: object

In [16]:
import numpy as np

#Victorie style
np.random.choice(fruits,2)

array(['papaya', 'kiwi'], dtype=object)

<hr style="border:0.5px solid grey">

<b>6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

<hr style="border:0.5px solid grey">

<b>7. Run the code necessary to produce only the unique string values from fruits.

In [18]:
#scott style
set(fruits)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

In [19]:
#unique string values
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [20]:
#returns the unqiue value count
fruits.nunique()

13

In [21]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:0.5px solid grey">

<b>8. Determine how many times each unique string value occurs in fruits.

In [22]:
len(fruits.unique())

13

In [23]:
#returns each item with a count
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [24]:
#now let's assign them to a variable 
#so we can work with it later
order_fruits = fruits.value_counts()

In [25]:
order_fruits

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:0.5px solid grey">

<b>9. Determine the string value that occurs most frequently in fruits.

In [26]:
#use nlargest- returning the largest count value
order_fruits.nlargest(n=1)

kiwi    4
dtype: int64

In [27]:
order_fruits.head(1)

kiwi    4
dtype: int64

In [28]:
#Jon style
fruits.value_counts().index[0]

'kiwi'

In [29]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [30]:
#another way to accomplish this
#look for the first value in value counts (most freq)
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [31]:
#yet another way to do this!
#using idxmax
fruits.value_counts().idxmax()

'kiwi'

In [32]:
#if we did not want to create 
##a new variable (order_fruits)
###we can just 'chain' operators
fruits.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

<hr style="border:0.5px solid grey">

<b>10. Determine the string value that occurs least frequently in fruits.

In [33]:
#look at our fruits again
order_fruits

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [34]:
#returns very last item in the series
order_fruits.tail(1)

papaya    1
dtype: int64

In [35]:
#will return the first item that has the 'least' quantity
order_fruits.idxmin()

'strawberry'

In [36]:
#will also return the first item with the least
order_fruits.nsmallest(n=1)

strawberry    1
dtype: int64

In [37]:
#this will put the minimum value and alphabetically
fruits.min()

'blackberry'

In [38]:
#in order to get ALL the least occuring- keep= all
order_fruits.nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

<hr style="border:2px solid blue">
<hr style="border:2px solid blue">

# Part II:

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

2. Count the letter "a" in all the string values (use string vectorization).

3. Output the number of vowels in each and every string value.

4. Write the code to get the longest string value from fruits.

5. Write the code to get the string values with 5 or more letters in the name.

6. Find the fruit(s) containing the letter "o" two or more times.

7. Write the code to get only the string values containing the substring "berry".

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?

<hr style="border:0.5px solid black">
<hr style="border:0.5px solid black">

In [68]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

<b>1. Capitalize all the string values in fruits.

In [40]:
#see if it works on one item
'kiwi'.capitalize()

'Kiwi'

In [41]:
#apply that to the entire series
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [69]:
#this uppercases the entire word
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [70]:
#changes current case of the letter to the opposite case
fruits.str.swapcase()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

<hr style="border:0.5px solid grey">

<b>2. Count the letter "a" in all the string values (use string vectorization).

In [71]:
#check to see if it works on one key
'banana'.count('a')

3

In [74]:
#get the count of 'a' for each item in the series
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [ ]:
#to get total number of a's within the series
fruits.str.count('a').sum()

In [44]:
# here we use an apply with a lambda function:
# the lambda function is taking in the value x from the Series' cell,
# outputting that value, concatenating it with a hardcoded string literal, and then concatenating
# those values with the string-cast version of the count 
fruits.apply(lambda x: x + ' count of a: ' + str(x.count('a')))

0                 kiwi count of a: 0
1                mango count of a: 1
2           strawberry count of a: 1
3            pineapple count of a: 1
4           gala apple count of a: 3
5     honeycrisp apple count of a: 1
6               tomato count of a: 1
7           watermelon count of a: 1
8             honeydew count of a: 0
9                 kiwi count of a: 0
10                kiwi count of a: 0
11                kiwi count of a: 0
12               mango count of a: 1
13           blueberry count of a: 0
14          blackberry count of a: 1
15          gooseberry count of a: 0
16              papaya count of a: 3
dtype: object

<hr style="border:0.5px solid grey">

<b>3. Output the number of vowels in each and every string value.

In [81]:
fruits.str.count('a|e|i|o|u')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [82]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [76]:
# define vowels
vowels = ['a', 'e', 'i', 'o', 'u']

In [77]:
fruit = 'persimmon'

In [78]:
vowel_count = 0
for let in fruit.lower():
    if let in vowels:
        vowel_count += 1
        
vowel_count

3

In [79]:
def count_vowels(some_word):
    return len([let for let in some_word.lower() if let in ['a', 'e', 'i', 'o', 'u']])

In [80]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

<hr style="border:0.5px solid grey">

<b>4. Write the code to get the longest string value from fruits.

In [83]:
fruits.apply(len).nlargest(1)

5    16
dtype: int64

In [84]:
max(fruits, key=len)

'honeycrisp apple'

In [85]:
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

In [88]:
fruits[fruits.str.len() >10]

5    honeycrisp apple
dtype: object

<hr style="border:0.5px solid grey">

<b>5. Write the code to get the string values with 5 or more letters in the name.

In [59]:
fruits[fruits.str.len() >=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

<hr style="border:0.5px solid grey">

<b>6. Find the fruit(s) containing the letter "o" two or more times.

In [87]:
fruits[fruits.str.count('o') >=2]

6         tomato
15    gooseberry
dtype: object

In [62]:
#Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.
fruits[fruits.apply(lambda fruit: fruit.count('o') > 1)]

6         tomato
15    gooseberry
dtype: object

<hr style="border:0.5px solid grey">

<b>7. Write the code to get only the string values containing the substring "berry".

In [63]:
#using contains
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [64]:
#using a lambda
fruits[fruits.apply(lambda str: 'berry' in str)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [89]:
#another way
berry_fruits = fruits.str.contains('berry')

In [91]:
#this will give you the count of how many keys have berry
#true meaning it does have berry
#false meaning it does not have berry
berry_counts = berry_fruits.value_counts()
berry_counts

False    13
True      4
dtype: int64

In [92]:
#but masking the value counts will give us the results
fruits[berry_fruits]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

<hr style="border:0.5px solid grey">

<b>8. Write the code to get only the string values containing the substring "apple".

In [93]:
#using contains
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [94]:
#using apply and lambda
fruits[fruits.apply(lambda str: 'apple' in str)]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

<hr style="border:0.5px solid grey">

<b>9. Which string value contains the most vowels?

In [95]:
fruits.str.count(r'[aeiou]').nlargest(n=1, keep ='all')

5    5
dtype: int64

In [67]:
fruits[fruits.str.count(r'[aeiou]').nlargest(n=1, keep ='all')]

5    honeycrisp apple
dtype: object

In [97]:
vowels = ['a', 'e', 'i', 'o', 'u']

In [99]:
fruits[fruits.str.count('[aeoiu]').max()]

'honeycrisp apple'

<hr style="border:2px solid blue">
<hr style="border:2px solid blue">

# Part III: